<form [formGroup]="catalogForm" (ngSubmit)="add()">
  <label>accessURL</label>
  <input type="text" formControlName="url">
  <label>format</label>
  <input type="text" formControlName="format">
  <label>title</label>
  <input type="text" formControlName="title">
  <label>type</label>
  <input type="text" formControlName="type">
  <label>_about</label>
  <input type="text" formControlName="about">
  <button>Agregar</button>
</form>
<br>
<table border="1" id="catalog" class="catalog">
  <thead>
    <tr>
      <th>accessURL</th>
      <th>format</th>
      <th>title</th>
      <th>type</th>
      <th>_about</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of catalogs | paginate: { itemsPerPage: 5, currentPage: pageActual }; let i = index">
      <td>{{ cat.accessURL }}</td>
      <td>{{ cat.format }}</td>
      <td>{{ cat.title }}</td>
      <td>{{ cat.type }}</td>
      <td>{{ cat._about }}</td>
      <td>
        <button (click)="edit(cat)">editar</button>
        <button (click)="delete(i)">eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>


<router-outlet></router-outlet>
